.room-modal {
    display: grid;
    grid-template-rows: 50px auto;
    align-items: center;
    width: 300px;
    padding: 20px;
}
.join-room {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.room-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.room-modal-text-fields {
    width: 100%;
}